* {

}

html {

}

body {
  color: #ffffff;
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
}

/* TRANSITION PARA EL FONDO DEL NAV */ 
/*.navscroll {*/
  /*transition:background-color 2000ms; */
/*}*/

.navbar {
  position: fixed;
  z-index: 1;
}

.navbar-bg-scroll {
  background-color: #000000;
  transition: background-color 2s ease;
}

.navbar-brand {
  width: 40px;
  text-align: left;
}

.navbar-brand-text {
  font-size: 25px;
  font-weight: 400;
  /*text-transform: uppercase;*/
}

.cardImg {
  height: 200px;
}

.cardImg img {
  height: 100%;
  object-fit: cover;
}
